$colors: (
  0: #000000,
  10: #042f2e,
  20: #134e4a,
  25: #134e4a,
  30: #115e59,
  35: #115e59,
  40: #0f766e,
  50: #0d9488,
  60: #14b8a6,
  70: #2dd4bf,
  80: #14b8a6,
  90: #99f6e4,
  95: #99f6e4,
  98: #99f6e4,
  99: #ccfbf1,
  100: #f0fdfa,
  secondary: (
    35: #042f2e,
    40: #134e4a,
    50: #115e59,
    60: #0f766e,
    70: #0d9488,
    80: #14b8a6,
    90: var(--colors),
    95: #5eead4,
    98: #99f6e4,
    99: #ccfbf1,
    100: #f0fdfa,
  ),
  neutral: (
    0: #000000,
    10: #1b1b1f,
    20: #303034,
    25: #3c3b3f,
    30: #47464a,
    35: #535256,
    40: #5f5e62,
    50: #78767a,
    60: #929094,
    70: #adaaaf,
    80: #c8c5ca,
    90: #e5e1e6,
    95: #f3eff4,
    98: #fcf8fd,
    99: #fffbff,
    100: #ffffff,
    4: #0e0e11,
    6: #131316,
    12: #201f22,
    17: #2a292d,
    22: #353438,
    24: #3a393c,
    87: #dcd9dd,
    92: #ebe7eb,
    94: #f0edf1,
    96: #f6f2f7,
  ),
  neutral-variant: (
    0: #000000,
    10: #1b1b23,
    20: #303038,
    25: #3b3b43,
    30: #46464f,
    35: #52515b,
    40: #5e5d67,
    50: #777680,
    60: #91909a,
    70: #acaab4,
    80: #c7c5d0,
    90: #e4e1ec,
    95: #f2effa,
    98: #fbf8ff,
    99: #fffbff,
    100: #ffffff,
  ),
  error: (
    0: #000000,
    10: #410002,
    20: #690005,
    25: #7e0007,
    30: #93000a,
    35: #a80710,
    40: #ba1a1a,
    50: #de3730,
    60: #ff5449,
    70: #ff897d,
    80: #ffb4ab,
    90: #ffdad6,
    95: #ffedea,
    98: #fff8f7,
    99: #fffbff,
    100: #ffffff,
  ),
);
